{% extends 'base.html' %}

{% block content %}
<div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
  <div class="card-header">Car Details</div>
  <div class="card-body">
    <h5 class="card-title">{{ car.brand }} {{ car.model }} ({{ car.year }})</h5>
    <p class="card-text"><strong>Color:</strong> {{ car.color }}</p>
    <p class="card-text"><strong>Price:</strong> ${{ car.price }}</p>
    <p class="card-text"><small class="text-muted">Created at: {{ car.created_at }}</small></p>
    <a href="{% url 'car-update' car.id %}" class="btn btn-light">Update</a>
    <a href="{% url 'cars-list' %}" class="btn btn-light">Listga qaytish</a>
  </div>
</div>
{% endblock %}
